.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(48, 16, 207);
    padding: 10px 50px;
}

.logo {
    width: 100px;
    height: 70px;
}
.nav-main {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
}
.navbar-menu{
    display: flex;
}

.navbar-menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    margin-left: 5px;
    padding: 0 10px;  
    border: 3px solid chocolate;
}
.navbar-menu a:hover{
color: chocolate;
border: 3px solid aliceblue;
}


/* media query */

@media only screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
}